<!doctype html>
<html class="no-js">
{% load static %}
{% load i18n %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Soul&Body</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="facebook-domain-verification" content="vopj9ovgmmwujzyzvf1ig8zm124oaj" />

    {% get_current_language as LANGUAGE_CODE %}
    <!-- Place favicon.png in the root directory -->

    <link rel="shortcut icon" href="{{sitedata.logo.url}}" type="image/x-icon" />
    <!-- Font Icons css -->
    <link rel="stylesheet" href="{% static 'css/font-icons.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% if LANGUAGE_CODE == 'ar' %}
    <!-- plugins css -->
    <link rel="stylesheet" href="{% static 'css/ar_plugins.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'css/ar_responsive.css' %}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style_ar.css' %}">
    
    {% else %}
    <!-- plugins css -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.5/sweetalert2.all.min.js"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    
</head>

<body>
    {% load sweetify %}
{% sweetify %}

    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <!-- Body main wrapper start -->
    <div class="body-wrapper">

        <!-- HEADER AREA START (header-3) -->
        <header class="ltn__header-area ltn__header-3">
            <!-- ltn__header-top-area start -->
            <div class="ltn__header-top-area border-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="ltn__top-bar-menu">
                                <ul>
                                    <li><a href="mailto:info@soulbody.com?Subject=Flower%20greetings%20to%20you"><i
                                                class="icon-mail"></i>{{sitedata.email}}</a></li>
                                    <li><a href="{{sitedata.map_link}}"><i class="icon-placeholder"></i>
                                            {{sitedata.address}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="top-bar-right text-right text-end">
                                <div class="ltn__top-bar-menu">
                                    <ul>
                                        <li>
                                            <!-- ltn__language-menu -->
                                            <div class="ltn__drop-menu ltn__currency-menu ltn__language-menu">
                                                <ul>
                                                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                                        <input name="next" type="hidden"
                                                            value="{{ request.get_full_path|slice:'3:' }}">
                                                        {% if LANGUAGE_CODE == 'ar' %}
                                                        <button type='submit' name='language' value='en'
                                                            style="background-color: transparent !important;"><span
                                                                class="" style="color: gray; ">
                                                                English</span>
                                                        </button>
                                        </li>
                                        {% else %}
                                        <button type='submit' name='language' value='ar'
                                            style="background-color: transparent !important;"><span class=""
                                                style="color: gray; ">
                                                عربي</span>
                                        </button></li>
                                        {% endif %}
                                        </form>
                                    </ul>
                                </div>
                                </li>
                                <li>
                                    <!-- ltn__social-media -->
                                    <div class="ltn__social-media">
                                        <ul>
                                            <li><a href=" {{sitedata.facebook}}" title="Facebook"><i
                                                        class="fab fa-facebook-f"></i></a></li>
                                            <li><a href=" {{sitedata.twiter}}" title="Twitter"><i
                                                        class="fab fa-twitter"></i></a>
                                            </li>
                                            <li><a href=" {{sitedata.instgram}}" title="Instagram"><i
                                                        class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- ltn__header-top-area end -->
    <!-- ltn__header-middle-area start -->
    <div class="ltn__header-middle-area">
        <div class="container">
            <div class="row justify-between-content">
                <div class="col-7">
                    <div class="site-logo">
                        <a href="{% url 'home' %}"><img src="{{sitedata.logo.url}}" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="col">
                            <div class="header-contact-search">
                            <!-- header-feature-item -->
                                <div class="header-feature-item">
                                    <div class="header-feature-icon">
                                        <i class="icon-call"></i>
                                    </div>
                                    <div class="header-feature-info">
                                        <h6>{% if LANGUAGE_CODE == 'ar' %} أرقام الهاتف {% else %} Phone {% endif %}</h6>
                                        <p><a href="tel:0123456789"><img class="fi" src="{% static 'img/flags/eg.svg' %}">
                                                {{sitedata.phone_number_1}}</a></p>
                                        <p><a href="tel:0123456789"><img class="fi" src="{% static 'img/flags/jo.svg' %}">
                                                {{sitedata.phone_number_2}}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <!-- header-options -->
                            <div class="ltn__header-options">
                                <ul>
                                    <li class="d-none---"> 
                                        <!-- user-menu -->
                                        <div class="ltn__drop-menu user-menu">
                                            <ul>
                                                <li>
                                                    <a href="{% url 'user_account' %}"><i class="icon-user"></i></a>
                                                    <ul>
                                                        {% if user.is_authenticated %}
                                                            <li><a href="{% url 'user_account' %}">{% if LANGUAGE_CODE == 'ar' %} حسابي {% else %} My Account {% endif %}</a></li>
                                                            <li><a href="{% url 'logout_user' %}">{% if LANGUAGE_CODE == 'ar' %} تسجيل خروج {% else %} Logout {% endif %}</a></li>
                                                        {% else %}
                                                            <li><a href="{% url 'login_user' %}">{% if LANGUAGE_CODE == 'ar' %} تسجيل دخول {% else %} Login {% endif %}</a></li>
                                                            <li><a href="{% url 'register_user' %}"> {% if LANGUAGE_CODE == 'ar' %}  حساب جديد {% else %} Register {% endif %}</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    {% if user.is_authenticated %}
                                    <li>
                                        <!-- mini-cart 2 -->
                                        <div class="mini-cart-icon mini-cart-icon-2">
                                            <a href="{% url 'view_cart' %}" >
                                                <span class="mini-cart-icon">
                                                    <i class="icon-shopping-cart"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- ltn__header-middle-area end -->
    {% include 'home/header.html' %}
    </header>

    <!-- HEADER AREA END -->
    {% include 'home/mb-menu.html' %}
    
    <!-- MOBILE MENU START -->
    <div class="mobile-header-menu-fullwidth mb-30 d-block d-lg-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Mobile Menu Button -->
                    <div class="mobile-menu-toggle d-lg-none">
                        {% if LANGUAGE_CODE == 'ar' %}
                        <span>القائمة</span>
                        {% else %}
                        <span>MENU</span>
                        {% endif %}
                        
                        
                        <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                            <svg viewBox="0 0 800 600">
                                <path
                                    d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                                    id="top"></path>
                                <path d="M300,320 L540,320" id="middle"></path>
                                <path
                                    d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                                    id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) ">
                                </path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MOBILE MENU END -->
    
    <div class="ltn__utilize-overlay"></div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="toast" class="toast align-items-center text-white border-0" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div id="toast-body" class="toast-body"></div>
            </div>
        </div>
    </div>
    {% block content %}


    {% endblock content %}
    <!-- CALL TO ACTION START (call-to-action-6) -->
    {% include "home/calltoaction.html" %}
    <!-- CALL TO ACTION END -->
    <!-- FOOTER AREA START -->
    {% include "home/footer.html" %}
    <!-- FOOTER AREA END -->

    <!-- MODAL AREA START (Quick View Modal) -->
    <div class="ltn__modal-area ltn__quick-view-modal-area">
        <div class="modal fade" id="quick_view_modal" tabindex="-1">
            <div id="dialog" class="modal-dialog modal-lg" hx-target="this"></div>

        </div>
    </div>

    <!-- MODAL AREA END -->
    <!-- Body main wrapper end -->

    <!-- preloader area start -->
    <div class="preloader d-none" id="preloader">
        <div class="preloader-inner">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>
    </div>
    <!-- preloader area end -->

    <!-- All JS Plugins -->
    <script src="{% static 'js/bootstrab5.js' %}" ></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
    <script src="{% static 'js/toast.js' %}" ></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Main JS -->
    {% if LANGUAGE_CODE == 'ar' %}
    <script src="{% static 'js/ar_main.js' %}"></script>
    {% else %}
    <script src="{% static 'js/main.js' %}"></script>
    {% endif %}
    
    <script>
        const modal = new bootstrap.Modal(document.getElementById("quick_view_modal"))

        htmx.on("htmx:afterSwap", (e) => {
            // Response targeting #dialog => show the modal
            if (e.detail.target.id == "dialog") {
                modal.show()
            }
        })
    </script>

</body>

</html>