
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% with products|dictsortreversed:"best_selling"|slice:":8" as sorted_products %}
    {% if sorted_products %}
        <div class="ltn__product-area ltn__product-gutter pt-50 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-area ltn__section-title-2 text-center">
                            <h1 class="section-title"> {% if LANGUAGE_CODE == "en" %}Best Selling ✨{% else %}  ✨الأكثر طلباً {% endif %}</h1>
                        </div>
                    </div>
                </div>
                <div class="row ltn__tab-product-slider-one-active--- slick-arrow-1">
                        {% for product in sorted_products %}
                            {% ifchanged %}
                                {% if product.best_selling %}
                                    <!-- ltn__product-item -->
                                        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                            <div class="ltn__product-item ltn__product-item-3 text-center">
                                                <div class="product-img">
                                                    <a href="{% url 'product_details' product.id %}"><img src="{{product.image.url}}" alt="#"></a>
                                                    <div class="product-hover-action">
                                                        <ul>
                                                            <li>
                                                                <a title="Quick View"  hx-get="{% url 'show_product' product.id %}" style="cursor:pointer;"  hx-target="#dialog">
                                                                    <i class="far fa-eye"></i>
                                                                </a>
                                                            </li>
                                                            {% if user.is_authenticated %}
                                                                <li>
                                                                    <a hx-get="{% url 'add_to_cart' product.id %}" style="cursor:pointer;" title="Add to Cart">
                                                                        <i class="fas fa-shopping-cart"></i>
                                                                    </a>
                                                                </li>
                                                            {% endif %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-info">
                                                    <h2 class="product-title"><a href="{% url 'product_details' product.id %}">{% if LANGUAGE_CODE == "en" %}{{product.en_name}}{% else %} {{product.ar_name}}{% endif %}</a></h2>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endifchanged %}
                            {% endfor %}
                    
            </div>
            </div>
        </div>
    {% endif %}
{% endwith %}