{% if coldown %}
    {% load static %}
    <div class="ltn__call-to-action-area section-bg-1 bg-image pt-120 pb-120" data-bs-bg="{{coldown.image.url}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-4">
                    <!-- <img src="img/banner/15.png" alt="#"> -->
                </div>
                <div class="col-lg-5 col-md-6 col-sm-8">
                    <div class="call-to-action-inner text-color-white--- text-center---">
                        <div class="section-title-area ltn__section-title-2--- text-center---">
                            <h6 class="ltn__secondary-color">{{coldown.en_offer}}</h6>
                            <h1 class="section-title">{{coldown.en_bigTitle}}</h1>
                            <p>{{coldown.en_description}}</p>
                        </div>
                        <div class="ltn__countdown ltn__countdown-3 bg-white--" data-countdown="{{coldown.end_time|date:'Y/m/d'}}"></div>
                        <div class="btn-wrapper animated">
                            <a href="#" class="theme-btn-1 btn btn-effect-1 text-uppercase">Shop now</a>
                            <a href="#" class="ltn__secondary-color text-decoration-underline">Deal of The Day</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}