{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'en' %}
<!-- header-bottom-area start -->
<div
    class="header-bottom-area ltn__border-top ltn__header-sticky  ltn__sticky-bg-white--- ltn__sticky-bg-secondary ltn__secondary-bg section-bg-1 menu-color-white d-none d-lg-block ">
    <div class="container">
        <div class="row">
            <div class="col header-menu-column justify-content-center">
                <div class="sticky-logo">
                    <div class="site-logo fill-white">
                        <a href="index.html"><img src="{{sitedata.logo.url}}" alt="Logo"></a>
                    </div>
                </div>
                <div class="header-menu header-menu-2">
                    <nav>
                        <div class="ltn__main-menu">
                            <ul>
                                <li><a href="{% url 'home' %}" >Home</a></li>
                                <li class="menu-icon"><a href="#">Medical Management Systems</a>
                                    <ul>
                                        {% if systems %}
                                        {% for system in systems %}
                                        <li><a href="{% url 'medical_systems' system.id %}">{{system.en_name}}</a></li>
                                        {% endfor %}
                                        {% else %}
                                        <li>No systems available</li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li class="menu-icon"><a href="{% url 'shop' %}" >Medical Supplies & Equipment</a>
                                    <ul>
                                        {% if categories %}
                                        {% for category in categories %}
                                        <li >
                                            <a href="{% url 'category_products' category.id %}">{{ category.en_name }}</a>
                                            <ul>
                                                {% if category.products.all %}
                                                {% for product in category.products.all|slice:":5" %}
                                                <li><a href="{% url 'product_details' product.id %}">{{ product.en_name }}</a></li>
                                                {% endfor %}
                                                <li><a href="{% url 'shop' %}">Show All</a></li>
                                                {% else %}
                                                <li>No products available</li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li>No categories available</li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <!--<li><a href="#">Medical Tourism</a></li>-->
                                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                                <li><a href="{% url 'about_us' %}">About us</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header-bottom-area end -->


{% else %}
<!-- header-bottom-area start -->
<div
    class="header-bottom-area ltn__border-top ltn__header-sticky  ltn__sticky-bg-white--- ltn__sticky-bg-secondary ltn__secondary-bg section-bg-1 menu-color-white d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col header-menu-column justify-content-center">
                <div class="sticky-logo">
                    <div class="site-logo fill-white">
                        <a href="index.html"><img src="{{sitedata.logo.url}}" alt="Logo"></a>
                    </div>
                </div>
                <div class="header-menu header-menu-2">
                    <nav>
                        <div class="ltn__main-menu">
                            <ul>
                                <li><a href="{% url 'home' %}" >الرئيسية</a></li>
                                <li class="menu-icon"><a href="#">البرامج الطبية</a>
                                    <ul>
                                        {% if systems %}
                                        {% for system in systems %}
                                        <li><a href="{% url 'medical_systems' system.id %}">{{system.ar_name}}</a></li>
                                        {% endfor %}
                                        {% else %}
                                        <li>لا يتوفر برامج طبية الآن</li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li class="menu-icon"><a style="cursor: pointer;" href="{% url 'shop' %}" >المعدات والمستلزمات الطبية</a>
                                    <ul>
                                        {% if categories %}
                                        {% for category in categories %}
                                        <li>
                                            <a href="{% url 'category_products' category.id %}">{{ category.ar_name }}</a>
                                            <ul>
                                                {% if category.products.all %}
                                                {% for product in category.products.all|slice:":5" %}
                                                <li><a href="{% url 'product_details' product.id %}">{{ product.ar_name }}</a></li>
                                                {% endfor %}
                                                <li><a href="{% url 'shop' %}">الجميع</a></li>
                                                {% else %}
                                                <li>لا يتوفر منتجات</li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li>لا يوجد أصناف</li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <!--<li><a href="#">السياحة العلاجية</a></li>-->
                                <li><a href="{% url 'contact_us' %}">تواصل معنا</a></li>
                                <li><a href="{% url 'about_us' %}">عن الشركة</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header-bottom-area end -->




{% endif %}
