{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'en' %}
{% if LANGUAGE_CODE == "en" %}{% else %} {% endif %}
<!-- header-bottom-area start -->
<div
    class="header-bottom-area ltn__border-top ltn__header-sticky  ltn__sticky-bg-white--- ltn__sticky-bg-secondary ltn__secondary-bg section-bg-1 menu-color-white d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col header-menu-column justify-content-center">
                <div class="sticky-logo">
                    <div class="site-logo fill-white">
                        <a href="index.html"><img src="{{sitedata.logo.url}}" alt="Logo"></a>
                    </div>
                </div>
                <div class="header-menu header-menu-2">
                    <nav>
                        <div class="ltn__main-menu">
                            <ul>
                                <li><a href="{% url 'home' %}" >Home</a></li>
                                <li class="menu-icon"><a href="#">Medical Management Systems</a>
                                    <ul>
                                        {% if systems %}
                                        {% for system in systems %}
                                        <li><a href="#">{{system.en_name}}</a></li>
                                        {% endfor %}
                                        {% else %}
                                        <li>No systems available</li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li class="menu-icon"><a href="{% url 'shop' %}" >Medical Supplies & Equipment</a>
                                    <ul>
                                        {% if categories %}
                                        {% for category in categories %}
                                        <li >
                                            <a href="#">{{ category.en_name }}</a>
                                            <ul>
                                                {% if category.products.all %}
                                                {% for product in category.products.all|slice:":5" %}
                                                <li><a href="#">{{ product.en_name }}</a></li>
                                                {% endfor %}
                                                <li><a href="{% url 'shop' %}">Show All</a></li>
                                                {% else %}
                                                <li>No products available</li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li>No categories available</li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li><a href="#">Medical Tourism</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">About us</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header-bottom-area end -->
<!-- Utilize Mobile Menu Start -->
<div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
    <div class="ltn__utilize-menu-inner ltn__scrollbar">
        <div class="ltn__utilize-menu-head">
            <div class="site-logo">
                <a href="{% url 'home' %}"><img src="{{sitedata.logo.url}}" alt="Logo"></a>
            </div>
            <button class="ltn__utilize-close">×</button>
        </div>
        
        <div class="ltn__utilize-menu">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'shop' %}">Medical Management Systems</a>
                    <ul class="sub-menu">
                        {% if systems %}
                        {% for system in systems %}
                        <li><a href="#">{{system.en_name}}</a></li>
                        {% endfor %}
                        {% else %}
                        <li>No systems available</li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="#">Medical Supplies & Equipment</a>
                    <ul class="sub-menu">
                        {% if categories %}
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'shop' %}">{{ category.en_name }}</a>
                            <ul class="sub-menu">
                                {% if category.products.all %}
                                {% for product in category.products.all|slice:":5" %}
                                <li><a href="#">{{ product.en_name }}</a></li>
                                {% endfor %}
                                <li><a href="{% url 'shop' %}">Show All</a></li>
                                {% else %}
                                <li>No products available</li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li>No categories available</li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="#">Medical Tourism</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About us</a></li>
            </ul>
        </div>
        <div class="ltn__social-media-2">
            <ul>
                {% if sitedata.facebook %}
                <li><a href="{{sitedata.facebook}}" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                {% endif %}
                {% if sitedata.twitter %}
                <li><a href=" {{sitedata.twitter}}" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                {% endif %}
                {% if sitedata.linkedin %}
                <li><a href=" {{sitedata.linkedin}}" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                {% endif %}
                {% if sitedata.instgram %}
                <li><a href=" {{sitedata.instagram}}" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- Utilize Mobile Menu End -->
{% else %}
<!-- header-bottom-area start -->
<div
    class="header-bottom-area ltn__border-top ltn__header-sticky  ltn__sticky-bg-white--- ltn__sticky-bg-secondary ltn__secondary-bg section-bg-1 menu-color-white d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col header-menu-column justify-content-center">
                <div class="sticky-logo">
                    <div class="site-logo fill-white">
                        <a href="index.html"><img src="{{sitedata.logo.url}}" alt="Logo"></a>
                    </div>
                </div>
                <div class="header-menu header-menu-2">
                    <nav>
                        <div class="ltn__main-menu">
                            <ul>
                                <li><a href="{% url 'home' %}" >الرئيسية</a></li>
                                <li class="menu-icon"><a href="#">البرامج الطبية</a>
                                    <ul>
                                        {% if systems %}
                                        {% for system in systems %}
                                        <li><a href="#">{{system.ar_name}}</a></li>
                                        {% endfor %}
                                        {% else %}
                                        <li>لا يتوفر برامج طبية الآن</li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li class="menu-icon"><a style="cursor: pointer;" href="{% url 'shop' %}" >المعدات والمستلزمات الطبية</a>
                                    <ul>
                                        {% if categories %}
                                        {% for category in categories %}
                                        <li>
                                            <a href="#">{{ category.ar_name }}</a>
                                            <ul>
                                                {% if category.products.all %}
                                                {% for product in category.products.all|slice:":5" %}
                                                <li><a href="#">{{ product.ar_name }}</a></li>
                                                {% endfor %}
                                                <li><a href="{% url 'shop' %}">الجميع</a></li>
                                                {% else %}
                                                <li>لا يتوفر منتجات</li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                        {% endfor %}
                                        {% else %}
                                        <li>لا يوجد أصناف</li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li><a href="#">السياحة العلاجية</a></li>
                                <li><a href="#">تواصل معنا</a></li>
                                <li><a href="#">عنا</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header-bottom-area end -->
<!-- Utilize Mobile Menu Start -->
<div id="ltn__utilize-mobile-menu" class="ltn__utilize ltn__utilize-mobile-menu">
    <div class="ltn__utilize-menu-inner ltn__scrollbar">
        <div class="ltn__utilize-menu-head">
            <div class="site-logo">
                <a href="{% url 'home' %}"><img src="{{sitedata.logo.url}}" alt="Logo"></a>
            </div>
            <button class="ltn__utilize-close">×</button>
        </div>
        
        <div class="ltn__utilize-menu">
            <ul>
                <li><a href="{% url 'home' %}">الرئيسية</a></li>
                <li><a href="{% url 'shop' %}">البرامج الطبية</a>
                    <ul class="sub-menu">
                        {% if systems %}
                        {% for system in systems %}
                        <li><a href="#">{{system.ar_name}}</a></li>
                        {% endfor %}
                        {% else %}
                        <li>لا يتوفر برامج الآن</li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="#">المعدات والمستلزمات الطبية</a>
                    <ul class="sub-menu">
                        {% if categories %}
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'shop' %}">{{ category.ar_name }}</a>
                            <ul class="sub-menu">
                                {% if category.products.all %}
                                {% for product in category.products.all|slice:":5" %}
                                <li><a href="#">{{ product.ar_name }}</a></li>
                                {% endfor %}
                                <li><a href="{% url 'shop' %}"></a></li>
                                {% else %}
                                <li>لا يوجد منتجات متوفرة</li>
                                {% endif %}
                            </ul>
                        </li>
                        {% endfor %}
                        {% else %}
                        <li>لا يوجد أصناف الآن</li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="#">السياحة العلاجية</a></li>
                <li><a href="#">تواصل معنا</a></li>
                <li><a href="#">عنا</a></li>
            </ul>
        </div>
        <div class="ltn__social-media-2">
            <ul>
                {% if sitedata.facebook %}
                <li><a href="{{sitedata.facebook}}" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                {% endif %}
                {% if sitedata.twitter %}
                <li><a href=" {{sitedata.twitter}}" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                {% endif %}
                {% if sitedata.linkedin %}
                <li><a href=" {{sitedata.linkedin}}" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                {% endif %}
                {% if sitedata.instgram %}
                <li><a href=" {{sitedata.instagram}}" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!-- Utilize Mobile Menu End -->
{% endif %}
