{% extends "home/base.html" %}
{% block content %}
  

<!-- SLIDER AREA START (slider-3) -->
        {% include "home/mainslider.html" %}
<!-- SLIDER AREA END -->
<!-- PRODUCT TAB AREA START (product-item-3) -->
        {% include "home/systems.html" %}
<!-- PRODUCT TAB AREA END -->
<!-- PRODUCT TAB AREA START (product-item-3) -->
        {% include "home/ourProducts.html" %}
<!-- PRODUCT TAB AREA END -->
<!-- COUNTDOWN AREA START -->
        {% include "home/countdown.html" %}
<!-- COUNTDOWN AREA END -->
<!-- Best Selling AREA START (product-item-3) -->
        {% include "home/bestselling.html" %}
<!-- Best Selling AREA END -->
<!-- Clients AREA START (testimonial-4) -->
        {% include "home/testimonials.html" %}
<!-- TESTIMONIAL AREA END -->


{% endblock content %}