{% load static %}
{% if categories %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="ltn__product-tab-area ltn__product-gutter pt-40 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if LANGUAGE_CODE == 'ar' %}
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <!-- <h6 class="section-subtitle ltn__secondary-color">// Cars</h6> -->

                    <h1 class="section-title">المستلزمات والأدوات</h1>
                </div>
                <div class="ltn__tab-menu ltn__tab-menu-2 ltn__tab-menu-top-right-- text-uppercase text-center">
                    <div class="nav">
                        {% for category in categories %}
                        <a class="{% if forloop.first %}active show{% endif %}" data-bs-toggle="tab"
                            href="#liton_tab_3_{{category.id}}">{{category.ar_name}}</a>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <!-- <h6 class="section-subtitle ltn__secondary-color">// Cars</h6> -->

                    <h1 class="section-title">Our Products</h1>
                    <p>A highly efficient slip-ring scanner for today's diagnostic requirements.</p>
                </div>
                <div class="ltn__tab-menu ltn__tab-menu-2 ltn__tab-menu-top-right-- text-uppercase text-center">
                    <div class="nav">
                        {% for category in categories %}
                        <a class="{% if forloop.first %}active show{% endif %}" data-bs-toggle="tab"
                            href="#liton_tab_3_{{category.id}}">{{category.en_name}}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="tab-content">
                    {% for category in categories %}
                    <div class="tab-pane fade{% if forloop.first %} active show{% endif %}"
                        id="liton_tab_3_{{category.id}}">
                        <div class="ltn__product-tab-content-inner">
                            <div class="row ltn__tab-product-slider-one-active slick-arrow-1">
                                {% for product in category.products.all %}
                                <!-- ltn__product-item -->
                                <div class="col-lg-12">
                                    <div class="ltn__product-item ltn__product-item-3 text-center">
                                        <div class="product-img">
                                            <a href="{% url 'product_details' product.id %}" style="cursor:pointer;"><img src="{{product.image.url}}" alt="#"></a>
                                            <div class="product-badge">
                                                {% if LANGUAGE_CODE == 'ar' %}
                                                <ul>
                                                    <li class="sale-badge">جديد</li>
                                                </ul>
                                            </div>
                                            <div class="product-hover-action">
                                                <ul>
                                                    <li>
                                                        <a title="Quick View"
                                                            hx-get="{% url 'show_product' product.id %}"
                                                            style="cursor:pointer;"
                                                            hx-target="#dialog">
                                                            <i class="far fa-eye"></i>
                                                        </a>
                                                    </li>
                                                    {% if user.is_authenticated %}
                                                        <li>
                                                            <a hx-get="{% url 'add_to_cart' product.id %}" title="Add to Cart" style="cursor:pointer;">
                                                                <i class="fas fa-shopping-cart"></i>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h2 class="product-title"><a
                                                    href="{% url 'product_details' product.id %}" style="cursor:pointer;">{{product.ar_name}}</a></h2>
                                            <div class="product-price">
                                                {% if product.price %}
                                                <span>{{product.price}} جنيه</span>
                                                {% endif %}
                                                {% if product.old_price > 0 %}
                                                    <del>
                                                        {% if LANGUAGE_CODE == 'en' %}
                                                                {{product.old_price}} EGP
                                                            {% else %}
                                                                {{product.old_price}} جنيه
                                                        {% endif %}
                                                    </del>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% else %}
                                        <ul>
                                            <li class="sale-badge">New</li>
                                        </ul>
                                    </div>
                                    <div class="product-hover-action">
                                        <ul>
                                            <li>
                                                <a title="Quick View" hx-get="{% url 'show_product' product.id %}" style="cursor:pointer;"
                                                    hx-target="#dialog">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </li>
                                            {% if user.is_authenticated %}
                                                <li>
                                                    <a hx-get="{% url 'add_to_cart' product.id %}" style="cursor:pointer;" title="Add to Cart">
                                                        <i class="fas fa-shopping-cart"></i>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h2 class="product-title"><a href="{% url 'product_details' product.id %}">{{product.en_name}}</a>
                                    </h2>
                                    <div class="product-price">
                                        
                                        {% if product.price %}
                                                <span>{{product.price}} EGP</span>
                                        {% endif %}
                                        {% if product.old_price > 0 %}
                                            <del>
                                                {% if LANGUAGE_CODE == 'en' %}
                                                        {{product.old_price}} EGP
                                                    {% else %}
                                                        {{product.old_price}} جنيه
                                                {% endif %}
                                            </del>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <!--  -->
                    {% endfor %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
</div>
{% endif %}