{% extends "home/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

        <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image "  data-bs-bg="img/bg/14.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">{{medical_systems.en_name}}</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="index.html"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                                <li>{{medical_systems.en_name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- PAGE DETAILS AREA START (blog-details) -->
    <div class="ltn__page-details-area ltn__blog-details-area mb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="ltn__blog-details-wrap">
                        <div class="ltn__page-details-inner ltn__blog-details-inner">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-category">
                                        <a href="{% url 'medical_systems' medical_systems.id %}">{% if LANGUAGE_CODE == 'en' %}{{medical_systems.en_name}}{% else %} {{medical_systems.ar_name}} {% endif %}</a>
                                    </li>
                                </ul>
                            </div>
                            <h2 class="ltn__blog-title">{% if LANGUAGE_CODE == 'en' %}{{medical_systems.en_name}}{% else %} {{medical_systems.ar_name}} {% endif %}
                            </h2>
                            <img src="{{medical_systems.image.url}}" alt="Image">
                            <p>{% if LANGUAGE_CODE == 'en' %}{{medical_systems.en_description|safe}}{% else %}{{medical_systems.ar_description|safe}} {% endif %}.</p>
                        </div>
                        <!-- FAQ AREA START (faq-2) (ID > accordion_2) -->
    <div class="ltn__faq-area mb-100">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="ltn__faq-inner ltn__faq-inner-2">
                        
                        <div id="accordion_2">
                            <!-- card -->
                            <div class="card">
                                <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-1" aria-expanded="false">
                                    {% if LANGUAGE_CODE == 'en' %}Get your Clinic Trial{% else %}أطلب على نسخة تجريبية للعيادة الخاصة بك
                        {% endif %}
                                </h6>
                                <div id="faq-item-2-1" class="collapse" data-bs-parent="#accordion_2">
                                    <div class="card-body">
                                        <form id="contact-form" action="{% url 'medical_systems' medical_systems.id %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-item">
                                        {% if LANGUAGE_CODE == 'en' %}
                                            <label for="#id_name"> Name</label>
                                        {% else %}
                                            <label for="#id_name">الإسم</label>
                                        {% endif %}
                                        {{form.name}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item">
                                        {% if LANGUAGE_CODE == 'en' %}
                                            <label for="#id_email"> Email</label>
                                        {% else %}
                                            <label for="#id_email">البريد الإلكتروني</label>
                                        {% endif %}
                                        {{form.email}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item">
                                        {% if LANGUAGE_CODE == 'en' %}
                                            <label for="#id_subject"> Phone Number</label>
                                        {% else %}
                                            <label for="#id_subject">رقم الهاتف</label>
                                        {% endif %}
                                        {{form.phone_number}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item">
                                        {% if LANGUAGE_CODE == 'en' %}
                                            <label for="#id_phone_number"> Clinics Count</label>
                                        {% else %}
                                            <label for="#id_phone_number">عدد العيادات</label>
                                        {% endif %}
                                        {{form.clinic_count}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item">
                                        {% if LANGUAGE_CODE == 'en' %}
                                            <label for="#id_phone_number"> Departments Count</label>
                                        {% else %}
                                            <label for="#id_phone_number">عدد الأقسام</label>
                                        {% endif %}
                                        {{form.departement_count}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item">
                                        {% if LANGUAGE_CODE == 'en' %}
                                            <label for="#id_phone_number"> Doctors Count</label>
                                        {% else %}
                                            <label for="#id_phone_number">عدد الأطباء</label>
                                        {% endif %}
                                        {{form.doctors_count}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-item">
                                        {% if LANGUAGE_CODE == 'en' %}
                                            <label for="#id_phone_number"> Users Count</label>
                                        {% else %}
                                            <label for="#id_phone_number">عدد المستخدمين</label>
                                        {% endif %}
                                        {{form.users_count}}
                                    </div>
                                </div>
                            </div>
                            <div class="input-item input-item-textarea">
                                {% if LANGUAGE_CODE == 'en' %}
                                    <label for="#id_message"> Details</label>
                                   
                                {% else %}
                                    <label for="#id_message"> تفاصيل أخرى</label>

                                {% endif %}
                                    {{form.details}}
                            </div>
                            <div class="btn-wrapper mt-0">
                                {% if LANGUAGE_CODE == 'en' %}
                                    <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Send</button>
                                {% else %}
                                    <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">إرسل</button>
                                {% endif %}
                            </div>
                            <p class="form-messege mb-0 mt-20"></p>
                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQ AREA START -->
                        <!-- blog-tags-social-media -->
                        <div class="ltn__blog-tags-social-media mt-80 row">
                            <div class="ltn__tagcloud-widget col-lg-8">
                                <h4>{% if LANGUAGE_CODE == 'en' %}Releted Tags{% else %} الكلمات المفتاحية{% endif %}</h4>
                                
                                    <ul>
                                        {% for tag in medical_systems.tags.all %}
                                        <li>
                                            <a>{{tag}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-4">
                    <aside class="sidebar-area blog-sidebar ltn__right-sidebar">
                        <!-- Form Widget -->
                        <div class="widget ltn__form-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border-2">{% if LANGUAGE_CODE == 'en' %}Request Your Trial Now!{% else %} أحجز نسختك التجريبية الان !{% endif %}</h4>
                                <a href="{% url 'contact_us' %}" class="btn theme-btn-1">{% if LANGUAGE_CODE == 'en' %}Send!{% else %} أرسل!{% endif %}</a>
                        </div>
                        <!-- Top Rated Product Widget -->
                        {% with products|dictsortreversed:"best_selling"|slice:":3" as sorted_products %}
                                        {% if sorted_products %}
                            <!-- Top Rated Product Widget -->
                            <div class="widget ltn__top-rated-product-widget">
                                <h4 class="ltn__widget-title ltn__widget-title-border">{% if LANGUAGE_CODE == 'en' %}Top Products{% else %} أعلى المنتجات تصنيف {% endif %}</h4>
                                <ul>
                                    {% for product in sorted_products %}
                                        {% ifchanged %}
                                            {% if product.best_selling %}
                                    <li>
                                        <div class="top-rated-product-item clearfix">
                                            <div class="top-rated-product-img">
                                                <a href="{% url 'product_details' product.id %}"><img src="{{product.image.url}}" alt="#"></a>
                                            </div>
                                            <div class="top-rated-product-info">
                                                <h6><a href="{% url 'product_details' product.id %}">{% if LANGUAGE_CODE == 'en' %}{{product.en_name}}{% else %}{{product.ar_name}}{% endif %}</a></h6>
                                                <div class="product-price">
                                                    <span>{{product.price}}</span>
                                                    {% if product.old_price > 0 %}
                                                    <del>
                                                        {% if LANGUAGE_CODE == 'en' %}
                                                                {{product.old_price}} EGP
                                                            {% else %}
                                                                {{product.old_price}} جنيه
                                                        {% endif %}
                                                    </del>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                    {% endifchanged %}
                                {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            {% endwith %}
                        
                        
                        

                        
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGE DETAILS AREA END -->
{% endblock content %}
