<div class="modal-content">
    <div class="modal-header bg-danger">
      <h5 class="modal-tilte  text-light"><i class="fa-solid fa-user-xmark"></i>&nbsp;&nbsp;Delete Client</h5>
    </div>
    <div class="modal-body text-center">
        <h1 class="text-danger"><i class="fa-solid fa-user-xmark"></i></h1>
        <h6 class="danger">Are you sure you want to delete {{customer.company}}?</h6>
    </div>
    
    <div class="modal-footer">

        <a hx-delete="delete_client/p={{customer.id}}" class="btn btn-danger btn-sm" >Delete</a>
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>
<script>
    document.body.addEventListener("htmx:configRequest", (event) => {
            event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
          });
</script>


