
<table class="table crm-table table-bordered"
       id="customers"
       role="grid">

    <thead class="table-dark">
      <tr role="row" >
        <th style="font-size:12px;">ID</th>
        <th style="font-size:12px;" ><i class="fa-solid fa-building"></i>&nbsp;&nbsp;Company</th>
        <th style="font-size:12px;" ><i class="fa-solid fa-industry"></i>&nbsp;&nbsp;Industry</th>
        <th style="font-size:12px;" ><i class="fa-brands fa-sourcetree"></i>&nbsp;&nbsp;Source</th>
        <th style="font-size:12px;" ><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;Phone</th>
        <th style="font-size:12px;" ><i class="fa-solid fa-at"></i>&nbsp;&nbsp;Email</th>
        <th style="font-size:12px;" ><i class="fa-solid fa-signal"></i>&nbsp;&nbsp;Status</th>
        <th style="font-size:12px;" ><i class="fa-solid fa-phone-volume"></i>&nbsp;&nbsp;Last Contact</th>
        <th style="font-size:12px;" ><i class="fa-solid fa-gear"></i>&nbsp;&nbsp;Actions</th>
      </tr>
    </thead>
    <tbody > 

         {% if customers %}
        {% for customer in customers %}
              <tr style="cursor:pointer" role="row">
                <td >{{ customer.id }}</td>
                <td ><a href="{% url 'client_profile' customer.id %}">{{ customer.company }}</a></td>
                <td >{{ customer.industry }}</td>
                <td >{{ customer.lead_referral_source }}</td>
                <td >{{ customer.land_phone_number }}</td>
                <td >{{ customer.email }}</td>


                  {% if "Prospect" in customer.Situation %}
                  <td style="color:#fea95e"><i class="fa-solid fa-circle-exclamation"></i>&nbsp;{{ customer.Situation }}</td>
                  {% elif "Active" in customer.Situation %}
                  <td style="color:#28a745"><i class="fa-regular fa-circle-check"></i>&nbsp;{{ customer.Situation }}</td>
                  {% elif "Email Sent" in customer.Situation %}
                  <td style="color:SlateBlue"><i class="fa-solid fa-envelope-circle-check"></i>&nbsp;{{ customer.Situation }}</td>
                  {% else %}
                  <td class="text-danger"><i class="fa-solid fa-triangle-exclamation"></i>&nbsp;{{ customer.Situation }}</td>
                  {% endif %}

                <td style="font-size:9px;">{{ customer.last_contact_date }}</td>
                <td>
                  <div  class="btn-group ">
                    <button class="btn btn-primary btn-sm"
                            hx-get="{% url 'view_edit_customer' customer.id %}"
                            hx-target="#dialog">
                            <i class="fa-solid fa-address-card"></i>
                    </button>
                    <button class="btn btn-success btn-sm"
                            hx-get="{% url 'whatsapp' customer.id %}"
                            hx-target="#dialog"
                    ><i class="fa-brands fa-whatsapp"></i></button>
                    <button class="btn btn-warning btn-sm"
                            hx-get="{% url 'emails' customer.id %}"
                            hx-target="#dialog">
                    <i class="fa-solid fa-envelope"></i>
                    </button>
                    <button class="btn btn-danger btn-sm"  
                      hx-get="{% url 'delete_client' customer.id %}" hx-target="#dialog">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  </div>
                </td>
            </tr>
        {% endfor %}
{% endif %}
</tbody>
</table>
<script>
  $(document).ready( function () {
    var table=$('#customers').DataTable({
      paging:true,
      pageLength:10,
      lengthChange:true,
      autoWidth:true,
      searching:true,
      bInfo:true,
      bSort:true,
      dom:'lBfrtip',
      buttons:[
        {
          extend:'copy',
          text:'<i class="fas fa-clone"></i>',
          className:'btn btn-secondary',
          titleAttr:'Copy',
          exportOptions:{
            columns:[0,1,2,3,4,5,6]
          }
        },
        {
          extend:'pdf',
          text:'<i class="fas fa-file-pdf"></i>',
          className:'btn btn-secondary',
          titleAttr:'PDF',
          exportOptions:{
            columns:[0,1,2,3,4,5,6]
          },
          tableHeader:{
            alignment:'center'
          },
          customize: function (doc){
            doc.styles.tableHeader.alignment='center';
            doc.styles.tableBodyOdd.alignment='center';
            doc.styles.tableBodyEven.alignment='center';
            doc.styles.tableHeader.fontSize=7;
            doc.defaultStyle.fontSize=6;
            doc.content[1].table.widths=Array(doc.content[1].table.body[1].length+1).join('*').split('');

          }
        },
        {
          extend:'print',
          text:'<i class="fas fa-print"></i>',
          className:'btn btn-secondary',
          titleAttr:'Print',
          exportOptions:{
            columns:[0,1,2,3,4,5,6]
          },
          customize:function ( win ){
            $(win.document.body).css('font-size','10pt')
            $(win.document.body).find('table')
              .addClass('compact')
              .css('font-size','inherit');
          }
        },
        {
          extend:'excel',
          text:'<i class="fas fa-file-excel"></i>',
          className:'btn btn-secondary',
          titleAttr:'Excel',
          exportOptions:{
            columns:[0,1,2,3,4,5,6]
          }
        },
      ]
    });
    var newSearch=$('#customers').DataTable();
$('#searchlive').keyup(function(){
    newSearch.search($(this).val()).draw();
})
});
const button = document.getElementById('send image');
          button.addEventListener('click', (event) => {
document.body.addEventListener('htmx:configRequest', (event) => {
  event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
})

var settings = {
  "async": true,
  "crossDomain": true,
  "url": "https://api.ultramsg.com/instance19177/messages/image",
  "method": "POST",
  "headers": {},
  "data": {
    "token": "9xvmtio6g3t16in4",
    "to": "00201008286184",
    "image": "https://cdn.pixabay.com/photo/2022/09/11/14/43/whale-7446905_960_720.jpg",
    "caption": "image Caption",
    "referenceId": "",
    "nocache": ""
  }
}

$.ajax(settings).done(function (response) {
  console.log(response);
})
})
</script>
