
{% load sweetify %}
	{% sweetify %}
{% for product in products %}
  {% if forloop.last %}
      {% if products.number == products.paginator.num_pages %}
        <div class="col-lg-3 col-md-6 col-sm-12 mb-1">
      {% else %}
          
        <div
        class="col-lg-3 col-md-6 col-sm-12 mb-1"
        hx-get="{% url 'almazaziproducts' %}?page={{ products.number|add:1 }}"
        hx-trigger="revealed"
        hx-swap="afterend"
        hx-target="this"
      >

    {% endif %}

  {% else %}
  <div class="col-lg-3 col-md-6 col-sm-12 mb-1">
    {% endif %}
    
      <div class="da-card">
        <div class="da-card-photo">
          {% if product.imagelink %}
          <img
            name="{{product.imagelink}}"
            src="{{product.imagelink}}"
            alt=""
          />
          {% else %}
          <img
            name="{{product.imagelink}}"
            src="{{product.imagelink}}"
            alt=""
          />
          {% endif %}
        </div>
        <div class="da-card-content">
          <p class="limited-text mb-15" name="{{ product.add_title }}">
            {{ product.add_title }}
            <span class="badge badge-secondary badge-sm"
              >{{ product.owner }}</span
            >
            <span class="badge badge-primary badge-sm"
              >{{ product.category }}</span
            >
          </p>
          <div class="container">
            <div class="row">
              <a
                class="btn btn-primary btn-sm"
                href="{{ product.add_link }}"
                target="_blank"
              >
                View Ad <i class="fa fa-eye"></i>
              </a>
              <a
                class="btn btn-info btn-sm"
                hx-post="{% url 'create_post' product.id %}"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
              >
                Create Post <i class="fa fa-send"></i>
              </a>
              <a
                class="btn btn-warning btn-sm"
                href="{{product.edit_link}}"
                target="_blank"
              >
                View in Admin <i class="fa fa-dashboard"></i>
              </a>
              <a class="btn btn-danger btn-sm" href="#" target="_blank">
                Block <i class="fa fa-ban"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
