{% extends 'base.html' %}
{% block body %}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Create Post</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Create Post</li>
                            </ol>
                        </nav>
                    </div>
                    
                </div>
            </div>
            <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">

                <div
                x-data="{ posts: [] }"
                x-init="posts = await (await fetch('api/test2')).json()">
                <template x-for="post in posts">

                <div class="col-lg-3 col-md-6 col-sm-12 mb-1">
                    <div class="da-card">
                        <div class="da-card-photo">
                            <img :src="post.imagelink" >
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text" x-text="post.message"></p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                     </div>              
                </div>
            </div>
        </div>
                
            </template>
        
                
                          



            

{% endblock body %}