           
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row clearfix">
                                <!-- card start -->
  
                                {% for post in posts %}
                                
                                <div class="col-lg-3 col-md-6 col-sm-12 mb-30">
                                    <div class="da-card">
                                        <div class="da-card-photo">
                                            {% if post.design %}
                                            <img name="{{post.imagelink}}" src="{{post.design_link.url}}" alt="">
                                            <span style="position:absolute;"class="badge badge-danger">Design</span>
                                            {% else %}
                                            <img name="{{post.imagelink}}" src="{{post.imagelink}}" alt="">
                                            {% endif %}
            
                                        </div>
                                        <div class="da-card-content">
                                            <h5 class="h6 mb-15"><a href="{% url 'post_details' post.id %}"> {{post.category}}</a></h5>
                                            <p class="limited-text-table" style="font-size: 11px;" >{{ post.message }}</p>
                                            <div class="">
                                            <div class="mb-5 center">
                                                <div class=" ml-3" >
                                                    
                                                <input class="form-check-input" type="checkbox" value="{{post.id}}" name="boxes">
                                                <label class="form-check-label" for="boxes">Select</label>
                                                </div>
                                                
                                            </div>
                                            <div class="btn-group ">
                                                <a type="button" class="btn btn-outline-success btn-sm"  hx-get="{% url 'publish_now' post.id %}"
                                                hx-target="#dialog"  ><i class="fa-brands fa-usps"></i></a>
                                                <a class="btn btn-outline-primary btn-sm"  hx-get="{% url 'make_design' post.id %}"><i class="fa-solid fa-wand-magic-sparkles"></i></a>
                                                <a type="button" class="btn btn-outline-info  btn-sm text-dark" href="edit_details/p={{post.id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                                                <a type="button" class="btn btn-outline-danger btn-sm " hx-get="{% url 'delete_modal' post.id %}"  hx-target="#dialog"><i class="fa-solid fa-trash-arrow-up"></i></a>
                                                <a class="btn btn-outline-warning  btn-sm "  hx-get="{% url 'schedule_modal' post.id %}"  hx-target="#dialog"><i class="fa-regular fa-calendar-plus"></i></a>
                                                
                                            </div>                                      
  
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                
                                {% endfor %}
                                <!-- card end -->
  
                            </div>
                            <button type="submit" name="publish" class="btn btn-success center">Publish</button>
                            <button type="submit" name="delete" class="btn btn-danger center">Delete</button>
                            <button type="submit" name="schedule" class="btn btn-warning center">Schedule</button>
                        </form>
      
                        
                    <div class="blog-pagination mt-30 mb-10">
                        <div class="btn-toolbar justify-content-center mb-15">
                            <div class="btn-group">
                                {% if posts.has_previous%}
                                <a hx-get="{% url 'unpublished_posts' %}?page=1" hx-target="#bodyposts" class="btn btn-sm btn-secondary text-light ">First</a>
                                <a hx-get="{% url 'unpublished_posts' %}?page={{ posts.previous_page_number }}" hx-target="#bodyposts" class="btn btn-sm btn-secondary text-light">Previous</a>
                                <a hx-get="{% url 'unpublished_posts' %}?page={{ posts.number|add:'-1' }}"hx-target="#bodyposts" class="btn btn-sm btn-secondary text-light">{{ posts.number|add:"-1" }}</a>
                                {% else %}
                                        <button type="button"hx-target="#bodyposts" class="btn btn-sm btn-secondary text-light" disabled>Previous</button>
                                {% endif %}
                                <button type="button"hx-target="#bodyposts" class="btn btn-sm btn-secondary text-light" disabled>{{ posts.number }}</button>                                 
                                {% if posts.has_next %}
                                <a hx-get="{% url 'unpublished_posts' %}?page={{ posts.number|add:1 }}"hx-target="#bodyposts" class="btn btn-sm btn-secondary text-light">{{ posts.number|add:1 }}</a>
                                <a hx-get="{% url 'unpublished_posts' %}?page={{ posts.next_page_number }}"hx-target="#bodyposts" class="btn btn-sm btn-secondary text-light">Next</a>
                                <a hx-get="{% url 'unpublished_posts' %}?page={{ posts.paginator.num_pages }}"hx-target="#bodyposts" class="btn btn-sm btn-secondary text-light">Last</i></a>
                                {% else %}
                                        <button type="button" class="btn btn-sm btn-secondary text-light" disabled>Next</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>