{% extends 'base.html' %}
{% block body %}
{% load crispy_forms_tags %}


            <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
                <form action="" method="POST" enctype="multipart/form-data">
                    
                {% csrf_token %}    


                    {{form.as_p}}

                   
                <input type="submit" value="Update" class="btn btn-secondary">
                <br/></br>
                <ul>
                    <li>- Your password can’t be too similar to your other personal information.</li>
                    <li>- Your password must contain at least 8 characters.</li>
                    <li>- Your password can’t be a commonly used password.</li>
                    <li>- Your password can’t be entirely numeric.</li>
                </ul>
            </form>    
            </div>

{% endblock body %}
