<div class="modal-content">
  <div class="modal-header bg-danger">
    <h5 class="modal-title">
      <i class="fa-solid fa-trash-can"></i>&nbsp;&nbsp;Delete Post
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete the post?</p>
  </div>
  <div class="modal-footer p-1">
    <a
      class="btn btn-danger btn-sm"
      hx-delete="{% url 'delete_schedule' post.id %}"
      >Delete</a
    >
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
      Close
    </button>
  </div>
</div>
