{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}



    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <!-- <i class="fas fa-times"></i> -->
            </button>
        </div>
        <div class="modal-body">
            <div class="ltn__quick-view-modal-inner">
                <div class="modal-product-item">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="modal-product-img">
                                <img src="{{product_details.image.url}}" alt="{{product_details.en_name}}">
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="modal-product-info">
                                <h3>{% if LANGUAGE_CODE == 'en' %}{{product_details.en_name}}{% else %}{{product_details.ar_name}}{% endif %}</h3>
                                <div class="product-price">
                                    <span>EGP {{product_details.price}}</span>
                                    {% if product.old_price > 0 %}
                                        <del>
                                            {% if LANGUAGE_CODE == 'en' %}
                                                    {{product.old_price}} EGP
                                                {% else %}
                                                    {{product.old_price}} جنيه
                                            {% endif %}
                                        </del>
                                    {% endif %}
                                </div>

                                <div class="ltn__product-details-menu-2">
                                    <div class="product-info">
                                        <h2 class="product-title">{% if LANGUAGE_CODE == 'en' %}Description{% else %}وصف المنتج{% endif %}</h2>
                                        <p>
                                            {% if LANGUAGE_CODE == 'en' %}{{product_details.en_description}}{% else %}{{product_details.ar_description}}{% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>