{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} 
{%block css %}
<!--Boxi Icons css-->
<link
  href="https://unpkg.com/boxicons@2.1.3/css/boxicons.min.css"
  rel="stylesheet"
/>
<!--DataTable css-->
<link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />
<link
  href="{% static 'scripts/datatables/dataTables.bootstrap5.min.css' %}"
  rel="stylesheet"
/>
<script src="{% static 'scripts/datatables/jquery.min.js' %}"></script>
{% endblock css %}
{% block body %}
<div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
  <!--End Buttons-->
  <div
    class="toast-container position-fixed bottom-0 end-0 p-3"
    style="z-index: 11"
  >
    <div
      id="toast"
      class="toast align-items-center text-white border-0"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div id="toast-body" class="toast-body"></div>
      </div>
    </div>
  </div>
  <!--Table-->
  <div class="row">
    <div class="col-9">
      <button
        type="button"
        hx-get="{% url 'add_customer' %}"
        hx-target="#dialog"
        class="btn btn-dark btn-sm mb-3 ml-3"
      >
        <i class="fas fa-file-circle-plus"></i>&nbsp;ADD NEW CLIENT
      </button>
    </div>
    <div class="col-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="background-color: #18191a;"
            ><i style="color: #fff;" class="dw dw-search2 search-icon"></i
          ></span>
        </div>

        <input
          type="text"
          placeholder="Live Search ..."
          id="searchlive"
          class="form-control search-input input-sm"
          aria-label="Search"
        />
      </div>
    </div>
  </div>

  <div
    id="crm-list"
    class="crm-list table-responsive"
    hx-get="{% url 'customerlist' %}"
    hx-trigger="load, crmChange from:body"
    hx-target="this"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
  ></div>

  <!--EndTable-->
</div>

<!--Modals-->
<div id="modal" class="modal fade">
  <div id="dialog" class="modal-dialog modal-lg" hx-target="this"></div>
</div>

{% endblock body %} 
{% block js %}
<!--Boxi Icons js-->
<script src="https://unpkg.com/boxicons@2.1.3/dist/boxicons.js"></script>
<!--DataTables js -->

<script  src="{% static 'scripts/datatables/jquery.dataTables.min.js' %} " defer></script>
<script  src="{% static 'scripts/datatables/dataTables.bootstrap5.min.js' %}" defer></script>
<script src="{% static 'scripts/datatables/pdfmake.min.js' %}" defer></script>
<script src="{% static 'scripts/datatables/vfs_fonts.js' %}" defer></script>
<script src="{% static 'scripts/datatables/datatables.min.js' %}" defer></script>

<!--Reset Button-->
<script>
  const btn = document.getElementById("reset");

  btn.addEventListener("click", function handleClick(event) {
    // 👇️ if you are submitting a form (prevents page reload)
    event.preventDefault();

    const search = document.getElementById("search");
    document.getElementById("industry").selectedIndex = 0;
    document.getElementById("status").selectedIndex = 0;

    // 👇️ clear input field
    search.value = "";
  });
  document.body.addEventListener("htmx:configRequest", (event) => {
            event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
          });
</script>

{% endblock js %}
